<h1>8BitStartup</h1>

<script type="text/javascript">
var names = function() {
    var array1 = ["Groupon", "Facebook", "Twitter"];
    var array2 = ["Starter_League", "cat", "dog"];
    var die1 = Math.floor(Math.random()*array1.length);
    var die2 = Math.floor(Math.random()*array2.length);
    var startup1 = array1[die1];
    var startup2 = array2[die2];
    document.write(startup1 + " for " + startup2);       
    };
    
names();
</script>


<%= image_tag("speachbubble.png", class: "speech") %>
<%= image_tag("pixelperson.png", class: "person") %>
<%= image_tag("generatebutton.png", class: "button") %>